<div class="chat-app">
  <div class="header">

  </div>
  <ul *ngIf="receivedMessages !== null" class="messages-wrapper">
    <li *ngFor="let recvMessage of receivedMessages" class="messages">
      <div class="message-section">
        {{recvMessage.username}}: {{recvMessage.message}}
        <span>
            {{recvMessage.createdDate | date : "dd/MM/yyyy h:mm a"}}
        </span>
      </div>
    </li>
    <li class="notification" *ngIf="Notifications !== null">
      <div *ngFor="let noti of Notifications">
        {{noti}}
      </div>
    </li>
  </ul>
 
    <div class="chat-input">
      <input class="userName" type="text" [(ngModel)]="message.username">
      <div class="textMessage" *ngIf="message.username !== 'unknown' && message.username !== ''">
        <input type="text"class="Type" [(ngModel)]="message.message"
        (keyup.enter)="sendMessage()" placeholder="Types message">
        <button class="submit" (click)="sendMessage()">Send</button>
      </div>
    </div>
  
</div>
